@model List<OldOneWinDB.Models.ViewModels.RegistrationsViewModel>

@foreach (var item in Model)
{

    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("ru-RU");
<tr>

    <td class='OrderNo' style='text-align: center;'>
        <input type="button" onclick="location.href='@Url.Action("RegCard", "Home", new { RegistrationID = item.RegistrationID })'"  class="btn btn-primary" value="@item.DocNo" />
    </td>
    <td class='LName' style='text-align: center;'>@item.FullName</td>
    <td class='PhoneNo'>@item.PhoneNo</td>
    <td class='Address'>@item.Adres</td>

    <td class='GettingDate'>


        @if (item.GettingDate != null)
        {
            <span> @item.GettingDate.Value.ToShortDateString()</span>
        }


    </td>
    <td class='OutDeptDate'>
        @if (item.OutDeptDate != null)
        {
            <span> @item.OutDeptDate.Value.ToShortDateString()</span>
        }

    </td>
    <td class='ReturnInDeptDate'>

        @if (item.ReturnInDeptDate != null)
        {
            <span> @item.ReturnInDeptDate.Value.ToShortDateString()</span>
        }
    </td>
    <td class='IssueDate'>
        @if (item.IssueDate != null)
        {
            <span>  @item.IssueDate.Value.ToShortDateString()</span>
        }
    </td>
    <td class='MustBeReadyDate'>
        @if (item.MustBeReadyDate != null)
        {
            <span>  @item.MustBeReadyDate.Value.ToShortDateString()</span>
        }
    </td>
    <td class='ResultType'>
        @if (item.ResultType != null)
        {

            @if (item.ResultType == true)
            {
                <span>
                    Положительно
                </span>
            }
            else
            {
                <span>
                    Отрицательно
                </span>
            }


        }
    </td>
</tr>

@*<div style="display:flex; margin: 0 20px;">
    <div style="width:80px; border:solid 1px; padding:5px;"><input type="button" onclick="location.href='@Url.Action("RegCard", "Home", new { RegistrationID = item.RegistrationID })'" value="@item.DocNo" /></div>
    <div style="width:200px; border:solid 1px; padding:5px;">@item.FullName</div>
    <div style="width:180px; border:solid 1px; padding:5px;">@item.PhoneNo</div>
    <div style="width:200px; border:solid 1px; padding:5px;">@item.Adres</div>
    <div style="width:120px; border:solid 1px; padding:5px;">
        @if (item.MustBeReadyDate != null)
        {
            <span> @item.MustBeReadyDate.Value.ToShortDateString()</span>
        }

    </div>
    <div style="width:120px; border:solid 1px; padding:5px;">

        @if (item.OutDeptDate != null)
        {
            <span> @item.OutDeptDate.Value.ToShortDateString()</span>
        }


    </div>
    <div style="width:120px; border:solid 1px; padding:5px;">
        @if (item.ReturnInDeptDate != null)
        {
            <span> @item.ReturnInDeptDate.Value.ToShortDateString()</span>
        }



    </div>
    <div style="width:120px; border:solid 1px; padding:5px;">
        @if (item.IssueDate != null)
        {
            <span>  @item.IssueDate.Value.ToShortDateString()</span>
        }


    </div>
    <div style="width:120px; border:solid 1px; padding:5px;">
        @if (item.MustBeReadyDate != null)
        {
            <span> @item.MustBeReadyDate.Value.ToShortDateString()</span>
        }
    </div>
    <div style="width:120px; border:solid 1px; padding:5px;">
        @if (item.ResultType != null)
        {

            @if (item.ResultType == true)
            {
                <span>
                    Положительно
                </span>
            }
            else
            {
                <span>
                    Отрицательно
                </span>
            }


        }
    </div>
</div>*@
}